/** @format */ /** @format */
.profile-page {
  padding: 32px 0;
  color: var(--font-color) !important;
}
.profile-page .MuiBox-root {
  background-color: var(--background-color) !important;
}
.profile-page .tabpanel {
  width: 100%;
}

.change-password form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color) !important;
}
.change-password form > div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 16px;
}
.change-password form > div label {
  font-size: 14px;
  margin-bottom: 4px;
}
.change-password form > div input {
  height: 20px;
  padding: 5px 9px;
  background-color: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
}
.change-password form > div button {
  background-color: var(--background-color-for-buttons) !important;
  color: var(--font-color-for-buttons) !important;
}
@media (max-width: 899px) {
  .change-password form > div {
    width: 50%;
  }
}
@media (max-width: 599px) {
  .change-password form > div {
    width: 60%;
  }
}