/** @format */
.video-container {
  position: relative;
}
.video-container iframe {
  width: 70% !important;
  max-width: 600px !important;
  margin: auto;
  background-color: #ccc !important;
}
@media (max-width: 900px) {
  .video-container iframe {
    width: 100% !important;
  }
}
.video-container .close-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -30px;
}