/** @format */

@use "../../../scss/variables" as v;

.add-video {
  margin-bottom: v.$l;
  form {
    display: flex;
    input[type="text"] {
      display: inline-block;
      width: 50%;
      margin-right: v.$s;
      padding: 5px 9px;
      background-color: rgb(246, 246, 246);
      border: 1px solid transparent;
      border-radius: 6px;
      outline: none;
    }
  }
}
