/** @format */

@use "../../scss/variables" as v;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  .content {
    color: #000 !important;
    padding: v.$l 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      margin-bottom: v.$s;
    }
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: v.$s 0;

      li {
        padding: v.$s;
        p {
          font-weight: 600;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
        @media (max-width: 599px) {
          display: block;
        }
      }
    }

    a {
      color: #000 !important;
    }

    svg {
      color: #000 !important;
    }
  }
  .developer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: v.$m 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    a {
      color: #fff !important;
    }
  }
}
