/** @format */

$mainBackgroundColor: #000;
$textColorForBackground: #fff;
$secondaryBackgroundColor: #007bff;
$MainTextColor: #18191f;
$textColor: #000;

$xs: 4px;
$s: 8px;
$m: 16px;
$l: 32px;
$xl: 64px;
